*{
margin: 0;
padding: 0;
}
html,body{padding:0; margin:0;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0 }
body, button, input, select, textarea { font: 12px/1.5 "Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu; color:#666 }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
address, cite, dfn, em, var { font-style: normal }
ul, ol, dl { list-style: none }
a { text-decoration: none !important; outline: none ;font-family:"Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;cursor: pointer;}
img { border: 0 }
button, input, select, textarea { font-size: 100% ;font-family:"Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;outline: none;}
table { border-collapse: collapse; border-spacing: 0 }
.clear{*zoom:1;}
.clear:after{display:block;clear:both;content:"\0020";visibility:hidden;height:0;}
.cl:before{content: ''; display: table;}
.cl:after{content: ''; display: table; clear: both}
.global_wrap{position: relative;min-height:100%; clear: both; content: ""; }
.ielt7 .global_wrap{height:100%; }
#clsIframe,#LR_Flash{position: absolute;}

/*装修贷款样式*/
.dk-bgimg{background: url( http://img.com/to8to_img/zxgl/zhuangxiudaibeijingtupian.jpg) no-repeat center 0;}
.con_bj_cal{border-right:1px solid #CCC;}
/*.con_bj_bgimg{overflow:hidden;background:url( http://img.com/to8to_img/zxgl/jiribg.jpg) no-repeat -4px -1px;}*/
.inputips{cursor:text;color:#CCC;position:absolute;top:7px;right:85px;}
.zxddetail span{display:inline-block;height:38px;width:140px;color:#ff6000;}
.zxddetail a{color:#1594e2;display:inline-block;margin-top:2px;height:34px;width:138px;font-size:13px;}
/*.zxddetail a:hover{color:#fff;background-color:#ff6000;}*/
.zxddetail{width:138px;height:30px;text-align:center;line-height:35px;margin-top:36px;margin-left:103px;}
/*装修材料样式*/
.con_mainbody{background-color:#f8fbfd;margin-bottom:20px;}
.calc_result{float:left;}
.calputer_tit,.repayment{font-size:20px;}
.inputips{cursor:text;color:#CCC;position:absolute;top:7px;right:85px;}
.moneytips{position:absolute;top:7px;right:24px;}
.ratetip{color:#1594e2;font-size:12px;position: absolute;left: 5px;}
.repayment span{font-size:12px;}
.repay_mon{font-size:20px;color:#ff6000;margin: 0 20px;}
.calc_result{text-align:center;margin-top:20px;margin-left:100px;}
.repay_detail li{font-size:12px;color:#666;line-height:45px;}
.repay_detail ul{margin-top:48px;}
.repay_detail em{font-weight: 900;font-size: 14px;display: inline-block;width: 30px;text-align: left;margin-left: 16px;}
.material-detail table,.material-detail td,.material-detail tr{border:1px solid #ccc;}
.material-detail div{width:156px;padding:8px 0px 6px 17px;}
.material-detail span{float:left;font-size:12px;width:66px;color:#666;}
.material-detail label{display:inline-block;width:42px;font-size:14px;color:#333;text-align: center;}
.material-detail em{color:#999;font-size:12px;}
.material-detail{margin-top:20px;padding:0 2px;border:1px solid #666;}
.province-town select{padding-left:7px;width:116px;height:39px;padding-top: 7px;padding-bottom: 7px;}
.select_Shen{float:left;}
.select_City{margin-right:23px;float:right;}
.form_line{margin:0;padding:0;}
.element .text_wrap .area_text{width:210px;}
.text_lbl{cursor:text;}
.element .first_line{width: 76px;height:38px;margin-right: 3px;margin-bottom:12px;padding: 7px 0;}
.element select{border:1px solid #CCC;}
.element .second_line{width: 118px; height:38px;margin-right: 3px;padding: 7px 0;}
.element .text_wrap .phonetext{width:221px;}
.zxcl_clqd{font-size:20px;font-weight:normal;margin-bottom:-4px;}
.zxcl_zcbfy{border:1px solid #c4e6ff;background-color:#f5fbff;margin-top: 10px;height: 81px;width: 318px;padding-left:28px;}
.zxcl_zcbfy h3{font-size:20px;color:#333;}
.zxcl_zcbfy i{font-size:14px;text-decoration:normal;color:#333;}
.zxcl_zcbfy p{font-size:16px;color:#666;margin-left:26px;}
.zxcl_zcbfy em,.zxcl_zcbfy span{color:#ff6000;}
.zxcl_zcbfy span{font-size:28px;margin:0 18px;}
.zxcl_zcbfy a{color:#fff;background-color: #f36f20;font-size: 14px;display: inline-block;height: 28px;width: 74px;margin-left: 4px;text-align: center;line-height: 25px;}
.text_area{font-size: 12px;color: #f79c33;}
/* 在线报价详细页修改 */
.zxbj_details .con {margin-bottom: 100px;}
.calputer_tit span {margin-left: 10px;color: #f36f20;font-size: 12px;}
.label_start {float: right;font-size: 24px;color: #fe5f00;font-family: Arial;margin-top: 5px;}
.zxbj_details {padding-top: 140px;}
.toolbar_header_center_left ul li em.sjbj_hot{display: none;}
.calputer_tit .num_man{margin: 0 2px;}
.accept-price{padding-left: 5px;height: 38px;border: 1px solid #ddd;line-height: 28px;width: 254px;color: #333;font-size: 14px;}
.bj_form .select_xian{margin-right:0;}
.bj_form .select_shi{margin-right:8;}
.bottom_slide_box .zxgs-list{width:338px;height:188px;border:1px solid #f0f0f0;margin-top:12px;}
.bottom_slide_box .zxgs-list .zxgs-list-before{
    width:145px;
    margin: 32px 0px 0px 115px;
}
.bottom_slide_box .zxgs-list .zxgs-list-before li{font-size:14px;color:#666;margin-bottom:13px;}
.zxgs-list-after li.list-after-li{padding:10px;width:318px;height:68px;border:1px solid #f0f0f0;margin-bottom:4px;position:relative}
.zxgs-list-show{margin-top:30px;overflow:hidden;}
.zxgs-list-show .zxgs-name p{font-size:14px;color:#333;width:125px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.zxgs-list-show .zxgs-name{float: left; margin-right: 10px;}
.zxgs-list-show .zxgs-name span{font-size: 12px;color: #999;}
.zxgs-list-show .zxgs-name span em{font-size: 12px;color: #f36f20;}
.zxgs-list-show img{width: 68px;height: 68px;border: 1px solid #f0f0f0;float: left;margin-right: 10px;}
.zxgs-list-show .zxgs-information{float: left;height: 68px;border-left: 1px solid #ddd;width: 100px;}
.zxgs-information ul{margin-left: 10px;}
.zxgs-information ul li{border: 0;line-height: 21px;width: 100px;}
.zxgs-information span{font-size: 12px;   }
.zxgs-information em{font-size: 12px;color: #f36f20;}
.zxgs-list-show .list-after-li b{position: absolute;top: 0;left: 0;width: 22px;height: 31px;}
.list-after-one{background:url( http://img.com/to8to_img/zxgl/zxgscx_list.png) no-repeat -174px 0px;_background:url( http://img.com/to8to_img/zxgl/zxgscx_list.gif) no-repeat -174px 0px;}
.list-after-two{background:url( http://img.com/to8to_img/zxgl/zxgscx_list.png) no-repeat -200px -2px;_background:url( http://img.com/to8to_img/zxgl/zxgscx_list.gif) no-repeat -200px -2px;}
.list-after-three{background:url( http://img.com/to8to_img/zxgl/zxgscx_list.png) no-repeat -222px 1px;_background:url( http://img.com/to8to_img/zxgl/zxgscx_list.gif) no-repeat -222px 1px;}
.more-zxgs{width: 340px;text-align: center;font-size: 12px;color: #333;margin-top: 10px;}
.more-zxgs a{text-align: center;font-size: 12px;}
/*自动匹配小区*/
.cx-loupan-box{width: 253px;border:1px solid #eee;position: absolute;margin-top: -1px;height: 100px;overflow-y: auto;overflow-x:hidden;display: none;background-color: #FFF;top: 34px;left: 0;z-index: 10;}
.cx-loupan-box li{padding:0 10px;height: 34px;line-height: 34px;width: 288px; overflow: hidden;white-space: nowrap;text-overflow:ellipsis;cursor: pointer;}
.cx-loupan-box ul li:hover{background-color: #F8F8F8;color: #333;}

i{font-style:normal;}
.con{width:980px;margin: 0 auto; color:#333;}
.con_t{font-size:24px;padding-bottom:15px;}
.bottom_slide_box .con_bj{position: relative;background-color: #fefefe;}
.con_bj h3{font-size:20px;color: #333;}
.con_bj_cal{position:relative;width:409px;height:322px;padding:34px 40px;}
.bj_form{width:370px;padding-top:25px;font-size:14px;}
.bj_form .label{font-size:16px;color:#333;text-align:left;margin-left: 0}
.bottom_slide_box .bj_form .element{width:265px;position: relative;padding-bottom:0;}
.bj_form .select{width:255px;padding-left:5px; height: 38px;}
.bj_form .select_s_s{width:78px;margin-bottom:10px;}
.bj_form .select_s{width:122px;margin-right:10px;}
.bj_form .text{width:233px;}
.bj_form .area_text{width:223px;padding:7px 20px 7px 10px;}
.bj_form .text_wrap{position: static;}
.bj_form .text_wrap .text_lbl{left:11px;}
.bj_form .text_wrap .unit{position: absolute;right: 34px;top: 7px;margin: 0;color:#bbb;}
.bottom_slide_box .bj_form .form_error{font-size:12px;}
.ele_b{margin-left:-10px;}
.ele_bt{float:left;width:120px;height:32px;line-height: 32px;text-align:center;margin-right:10px;border:1px solid #ddd;cursor: pointer;}
.ele_bt_on{color:#f36f20;border-color:#f36f20;}
.bottom_slide_box .con_bj_res{width:340px;color:#333;font-size:14px;margin-left: 100px;margin-top:13px;padding:0;}
.bj_res_t{text-align: center;line-height: 35px;font-size: 20px;width: 300px;}
.bj_res_t b{display:inline-block;width: 70px; text-align:right;color:#f36f20;font-size: 24px;padding-right:5px;}
.bj_res_t span {font-size: 14px;}
.bj_res_ul{margin-top:26px;border: 1px solid #ddd;}
.bj_res_ul li{height: 40px;line-height:40px; border-bottom: 1px solid #ddd}
.bj_res_ul li span{float:left; width: 98px; padding-left:20px; border-right: 1px solid #ddd; height: 40px;}
.bj_res_ul li.let_spac{border-bottom: none;}
.bj_res_ul li strong {float:left; width:179px; padding-right: 30px; height: 40px; line-height: 40px; font-weight: normal;text-align: right;}
.bj_res_ul li strong em {font-style: normal; margin-left: 14px;}
.let_spac i{padding:0 21px;}
.bj_res_ul li b{display:inline-block;width:107px;margin:0 15px;padding-bottom:3px;border-bottom:1px solid #eaeaea;font-weight: normal;color:#f36f20;font-size:20px;}
.bj_res_tip{color:#999; text-align: center;padding-top:15px;}
.res_btn_box{ width:220px;height:42px;margin:0 auto 40px;}
.res_btn{display:block; width:220px;height:42px;line-height:34px;color:#999;font-size:16px;background:url( http://img.com/to8to_img/zxgl/bj_btn_bg.png) no-repeat center 0;text-align: center;}
.res_btn:hover{color:#999;}
.res_btn.active {background:url( http://img.com/to8to_img/zxgl/bj_btn_bg.png) no-repeat center bottom; color: #fff;}
.res_btn.active:hover{ color: #fff;}
.zxbj_info .info_hd h3 em{font-size:12px;padding-left:5px;}
.bj_form .gs-select-s{width: 80px;margin-right: 7px;}
.con_bro{width: 980px;overflow: hidden;}
.con_bro ul{width: 1008px;}


.clear:after{
    clear:both;
    content:'';
    height:0;
    display: block;
}

.zxbj_zxys .con_bj{
    background-color: #fefefe;
}
.firston .zxysimg{
    color:#ff5a00;
    background-position: 0px -56px;
}
.firston .zxysimg em{
    background-position: -6px -147px;
}
.secondon .zxclimg{
    color:#ff5a00;
    background-position: -244px -56px;
}
.secondon .zxclimg em{
    background-position: -41px -147px;
}
.secondon .zxysimg{
    background-position: -255px 1px;
}
.secondon .zxgsimg{
    color:#ff5a00;
    background-position: -242px -57px;
}
/*.thirdon .zxgsimg{*/
    /*color:#ff5a00;*/
    /*background-position: -242px -57px;*/
/*}*/
.secondon .zxgsimg{
    color:#ff5a00;
    background-position: -244px -56px;
}
.thirdon .zxgsimg{
    background-position: -498px 1px;
}
.secondon .zxgsimg em{
    background-position: -69px -147px;
}
.thirdon .zxclimg{
    background-position: -498px 1px;
}
.fourthon .zxdkimg{
    color:#ff5a00;
    background-position: -244px -57px;
}
.fourthon .zxdkimg em{
    background-position: -100px -147px;
}
/*.fourthon .zxgsimg{*/
    /*background-position: -498px 1px;*/
/*}*/
.fifthon .zxjrimg{
    color:#ff5a00;
    background-position: -492px -57px;
}
.fifthon .zxjrimg em{
    background-position: -131px -147px;
}
.fifthon .zxdkimg{
    background-position: -498px 1px;
}
.all_Calc_Container .calcstart{
    position:absolute;
    color:#fff;
    display: inline-block;
    width:40px;
    top:46px;
    left:56px;
    cursor:pointer;
}
.calc-btn-start,
.calc-btn-end{
    position: absolute;
    width: 134px;
    height: 138px;
    top: 121px;
    right: -66px;
    display: block;
}
.calc-btn-start{
    background:#fefefe url( http://img.com/to8to_img/zxbj/active_btn.png) no-repeat 3px -150px;
    _background:#fefefe url( http://img.com/to8to_img/zxbj/active_btn.gif) no-repeat 3px -150px;
}
.calc-btn-start:hover{
    background-position-x:-153px;
}
.calc-btn-start:active{
    background-position-x:-310px;
}
.calc-btn-end{
    background:#fefefe url( http://img.com/to8to_img/zxbj/active_btn.png) no-repeat 3px -3px;
    _background:#fefefe url( http://img.com/to8to_img/zxbj/active_btn.gif) no-repeat 3px -3px;
}
.calc-btn-end:hover{
    background-position-x:-153px;
}
.calc-btn-end:active{
    background-position-x:-310px;
}
.zxbj_zxys .zxys_result{
    font-size:20px;
    text-align:center;
}
.zxbj_zxys .zxys_result span{
    font-size:15px;
}
.zxbj_zxys .zxys_result b{
    font-size: 30px;
    color: #ff5a00;
    display: inline-block;
    width:65px;
    text-align: center;
}
.zxgs-list-before{
    text-align:center;
}
.zxbj_zxys .zxgs-list .zxgs-list-before li{
    width:109px;
}
.zxbj_zxys .zxgs-list .zxgs-list-before li span{
    float:left;
}
.zxbj_zxys .zxgs-list .zxgs-list-before li em{
  display: inline-block;
  float:left;
  margin-left:16px;
}
.zxbj_zxys .zxys_worn{
    color:#999;
    font-size:12px;
    margin-top:14px;
}
.zxbj_zxys .zxys_worn  span{
    color:#ff5a00;
}
.zxbj_zxcl .zxys_worn p{
    color:#999;
    font-size:12px;
}
.zxbj_zxcl .material-detail div{
    padding:8px 0px 7px 17px;
}
.zxbj_zxdk .calc_result h3{
    margin-top:18px;
}
.zxbj_zxdk .repay_detail{
    border:1px solid #DDD;
    background-color:#fff;
    width:338px;
    margin-top:37px;
    height:228px;
    margin-top:26px;
    padding-top:16px;
}
.zxbj_zxdk .inputips{
    right:0px;
    left:12px;
}
.zxbj_zxdk .zxdk_phone{
    margin-top:10px;
}
.selectday{
    color:#ff5a00;
    background:url( http://img.com/to8to_img/zxbj/zxbjcontainer.png) no-repeat -13px -198px;
    _background:url( http://img.com/to8to_img/zxbj/zxbjcontainer.gif) no-repeat -13px -198px;
}
.zxbj_zxdk .zxdk_result{
    font-size:14px; 
}
.zxbj_zxcl .element .first_line{
    height:37px;
    margin-bottom:10px;
}
.zxbj_zxcl .bj_form .element{
    padding-bottom:21px;
}
.zxcl_worn{
    font-size:12px;
    color:#999;
    margin-top:11px;
}
.zxcl_worn span{
    color:#ff5a00;
}
.zxbj_zxcl .con_bj_res{
    margin-top:34px;
}
.zxcl_explain{
    margin-top:8px;
}
.zxbj_zxgs .bj_form{
    margin-top:26px;
}
.zxbj_zxgs .bj_form .element{
    padding-bottom:20px;
}
.zxbj_zxgs .zxgs-list{
    height:228px;
    margin-top:27px;
}
.zxbj_zxgs .con_bj_res{
    margin-top:33px;
}
.zxbj_zxdk .calc_result{
    margin-top:16px;
}
.zxbj_zxjr .con_bj_res{
    margin-left:115px;
    margin-top:32px;
}
.zxbj_zxjr .m_year{
    margin-top:-4px;
}
.zxcl_explain{
    position: relative;
    margin-left: 20px;
    padding-left: 10px;
    line-height: 24px;
    color: #999;
    font-size: 12px;
}
.zxcl_explain .attention{
    color:#f36f20;
}
.zxbj_zxgs .con_bj_res .bj_explain{
    margin:0;
}
.zxgs-list-after .zxgs-information li em{
    display: inline-block;
    width:42px;
}
.bottom_slide_box{
    height: 390px;
    position: fixed;
    bottom: -320px;
    z-index: 7999;
    width: 100%;
    _position:absolute;
    _left:expression(eval(document.documentElement.scrollLeft));_top:expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - 215))
}
.bottom_slide_box .slide_box_shade{
    height: 385px;
    background: #15161a;
    position: absolute;
    bottom: 0px;
    z-index: 5;
    width: 100%;
    opacity: 0.78;
    filter:alpha(opacity=78);
    -ms-filter:alpha(opacity=78);
}
.all_Calc_Container{
    z-index: 7;
    position: absolute;
    left: 50%;
    margin-left: -550px;
    top: 53px;
    width: 980px;
}
.bottom_slide_box .con_bj_cal{      
    padding: 24px 40px 20px 40px;
    height: 276px;
}
.con_bj_res{
    margin-top: 18px;
}
.zxbj_details{
    background: none;
}
.all_Calc_Container{
    top: 66px;
}
.bj_form{
    padding-top: 15px;
}
.zxgs-list{
    margin-top: 12px;
}
.zxbj_zxcl .con_bj_res{
    margin-top: 24px;
}
.bottom_slide_box .Calc_Container_zxys .bottom_slide_img{
    width: 720px;
    height: 120px;
    z-index: 7;
    position: absolute;
    /*left: 85px;*/
    top: -116px;
    background: url(../img/bottom_slide_bj.png) no-repeat;
}
.Calc_Container_zxcl .bottom_slide_img{
    width: 690px;
    height: 120px;
    z-index: 7;
    position: absolute;
    left: 110px;
    top: -116px;
    background: url( http://img.com/to8to_img/zxbj/bottom_slide_cl.png) no-repeat;
    _background: url( http://img.com/to8to_img/zxbj/bottom_slide_cl.gif) no-repeat;
}
.Calc_Container_zxgs .bottom_slide_img{
    width: 820px;
    height: 120px;
    z-index: 7;
    position: absolute;
    left: 60px;
    top: -116px;
    background: url( http://img.com/to8to_img/zxbj/bottom_slide_gs.png) no-repeat;
    _background: url( http://img.com/to8to_img/zxbj/bottom_slide_gs.gif) no-repeat;
}
.Calc_Container_zxdk .bottom_slide_img{
    width: 880px;
    height: 120px;
    z-index: 7;
    position: absolute;
    left: 30px;
    top: -116px;
    background: url( http://img.com/to8to_img/zxbj/bottom_slide_dk.png) no-repeat;
    _background: url( http://img.com/to8to_img/zxbj/bottom_slide_dk.gif) no-repeat;
}
.Calc_Container_jiri .bottom_slide_img{
    width: 750px;
    height: 120px;
    z-index: 7;
    position: absolute;
    left: 90px;
    top: -116px;
    background: url( http://img.com/to8to_img/zxbj/bottom_slide_jr.png) no-repeat;
    _background: url( http://img.com/to8to_img/zxbj/bottom_slide_jr.gif) no-repeat;
}
.bottom_slide_down{
    position: absolute;
    right: 95px;
    top: -50px;
    background: url( http://img.to8to.com/to8to_img/zxbj/bottom_slide_ud.png) no-repeat -1px -4px;
    _background: url( http://img.to8to.com/to8to_img/zxbj/bottom_slide_ud.gif) no-repeat -1px -4px;;
    width: 42px;
    height: 43px;
    cursor: pointer;
}
.bottom_slide_up{
    background: url( http://img.to8to.com/to8to_img/zxbj/bottom_slide_ud.png) no-repeat -47px -3px;;
    _background: url( http://img.to8to.com/to8to_img/zxbj/bottom_slide_ud.gif) no-repeat -47px -3px;;
}
.bottom_slide_close{
    position: absolute;
    top: 10px;
    left: 100%;
    margin-left: -26px;
    background: url( http://img.com/to8to_img/zxbj/znbj.png) no-repeat -137px -1px;
    _background: url( http://img.com/to8to_img/zxbj/znbj.png) no-repeat -137px -1px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: none;
}
.Calc_Container_zxgs .bottom_slide_down{
    right: 62px;
}
.Calc_Container_zxdk .bottom_slide_down{
    right: 30px;
}
.Calc_Container_jiri .bottom_slide_down{
    right: 92px;
}
.fifthon .zxjrimg{
    background-position: -492px -56px;
}
.bottom_slide_click{
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 91px;
    top: -20px;
    left: 0;
    z-index: 10;
}
.zxbj_details .bottom_slide_question,.zxbj_details .repay_mon{
    font-size: 30px;
    color: #ff5a00;
    font-weight: bold;
}
.element .first_line{
    margin-right: 7px;
}
.element .second_line{
    margin-right: 6px;
}
.zxbj_zxys{
    margin-top: 4px;
}
.zxys_result span.zxys-result-span{
    font-size: 20px;
    color: #333;
}
.bj_form .label{
    font-size: 14px;
}
.bottom_slide_content .text_area {
  display: none;
  position: absolute;
  top: 37px;
  left: 0;
  font-size: 12px;
  color: #f79c33;
}
.bottom_slide_content .attention{
	color: #f36f20;
}
.bottom_slide_content .zxbj_zxys .zxgs-list .zxgs-list-before li em{
	color: #f36f20;
}
.bottom_slide_box .bottom_slide_content .zxgs-list{
	border: 1px solid #e8e8e8;
}
.bottom_slide_box .zxys_explain{
	margin-top: 5px;
}
/*右侧二维码*/
.bottom_slide_box .tdc-box{
	position: absolute;
	width: 130px;
	height: 140px;
	background: url(../img/bottom_slide_box.png)  no-repeat;
	left: 1000px;
	bottom: 0;
	z-index: 10;
}
/**/
.bottom_slide_box .element .province-town,.bottom_slide_box .element .text_wrap,.bottom_slide_box .element .zxgs-hx{
	padding-bottom: 10px;
}
.bottom_slide_box .element .height_auto{
	padding-bottom: 0;
}
/*------------------------------------------------------------------*/
.tender-pop-main {
    height: 456px;
    overflow: hidden;
}
.tender-pop-main.ml45{margin-left: 45px;}
.tender-pop .tender-pop-title {
    padding-top: 60px;
    font-size: 28px;
    text-align: center;
    color: #333;
    line-height: 36px;
}
.tender-pop .tender-pop-tit {
    padding: 48px 0 0 36px;
    font-size: 24px;
    color: #333;
    line-height: 36px;
}
.tender-pop-applypeople {
    width: 198px;
    margin: 10px auto 0;
    color: #666;
}
.num-man {
    color: #fe5f00;
    width: 20px;
}
.tender-form-list {
    padding: 10px 40px;
}
.tender-form-list .tender-form-item {
    text-align: left;
}

.tender-form-item {
    text-align: center;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    position: relative;
    color: #666;
    margin-bottom: 17px;
}
.tender-form-select {
    width: 232px;
    height: 34px;
    padding-left: 6px;
    font-size: 14px;
    color: #666;
    border: 1px solid #dddddd;
    vertical-align: middle;
    padding-bottom: 8px \0;
    *padding-left: 0px;
    *padding-top: 9px;
    *padding-bottom: 9px;
    *position: relative;
    *top: 8px;
}
.tender-form-select.province {
    width: 111px;
}
.tender-form-select.city {
    margin-left: 10px;
}
.tender-form-input {
    width: 281px;
    padding: 8px 9px 7px;
    border: 1px solid #dddddd;
    vertical-align: middle;
}
.tender-form-font {
    position: absolute;
    left: 98px;
    *left: 96px;
    top: 2px;
    color: #999;
}
.tender-form-sup {
    position: absolute;
    right: 100px;
    color: #333;
}
.tender-pop-buttom {
    width: 120px;
    height: 36px;
    background-color: #ff6000;
    display: block;
    margin: 0 auto;
    color: white;
    cursor: pointer;
}
.tender-form-footer {
    width: 232px;
    margin: 0 auto 13px;
    font-size: 12px;
    color: #999;
}
.tender-form-explain {
    color: #fe5f00;
	font-size:12px;
}
.tender-form-check {
    height: 24px;
    color: #999;
}
.tender-form-check span {
    margin-left: 5px;
}
.tender-form-item .style-budget-em {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: -2px -312px;
    vertical-align: middle;
}
.tender-pop .form_error {
    position: absolute;
    left: 85px;
    top: 27px;
    color: #ff6666;
    font-size: 12px;
}
.tender-pop .form_error .ico_error {
    width: 13px;
    height: 13px;
    background: url(../img/global.png) no-repeat;
    background-position: -51px -165px;
    margin-right: 5px;
    vertical-align: middle;
}
.tender-huxing .select {
    width: 255px;
    padding-left: 5px;
    height: 38px;
    border-color: rgb(221, 221, 221);
}
.tender-huxing .select_s {
    border: none;
    margin-right: 0;
    margin-left: 0;
    border: 1px solid rgb(221, 221, 221);
    width: 111px;
    outline: none;
}
.tender-huxing .select_s_s {
    width: 74px;
    margin-bottom: 10px;
}
.tender-huxing {
    height: 90px;
}
.tender-huxing div {
    width: 235px;
    float: right;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 86px;
}
.tender-pop-buttom, .tender-form-footer {
    text-align: center;
}
.tender-huxing .select-margin {
    margin-left: 5px;
}
.tender-huxing .select-long-margin {
    margin-left: 10px;
}

.tender-pop-mfbj .style-budget-title, .tender-pop-mfsj .style-budget-title {
    font-weight: 900;
}
.tender-form-item .worn-font {
    color: #fe5f00;
    position: relative;
    top: 5px;
    font-size: 24px;
    vertical-align: middle;
    margin-right: 6px;
}
.tender-pop-tabs {
    width: 43px;
    text-align: center;
    position: absolute;
    left:0px;
    top: 0px;
    cursor: pointer;
    font-size: 14px;
    height: 100%;
}
.tender-pop-tabs li {
    position: relative;
    display: block;
    width: 43px;
    height: 50%;
    background: #fff;
}
.tender-pop-tabs li span {
    display: block;
    height: 78px;
    width: 20px;
    padding: 76px 10px;
    padding-right: 17px;
    border-left: 3px solid #e8e8e8;
    background: #e8e8e8;
    vertical-align: middle;
    line-height: 16px;
}
.tender-pop-tabs li.active span {
    border-left: 3px solid #01af63;
    background: #fff;
    color: #01af63;
}
.tender-pop-con {
    display: none;
}
.tender-pop-logo {
    position: absolute;
    height: 153px;
    width: 144px;
    top: -116px;
    left: 20px;
    background: url(../img/xgt_xqy.png) no-repeat 0 0;
    _background: url(../img/xgt_xqy.gif) no-repeat 0 0;
}
.tender-price-result li {
    height: 40px;
}
.tender-price-result {
    width: 300px;
    margin: 0 auto;
    padding: 40px 0;
    border: 1px solid #ddd;
}
.tender-price-result li span {
    float: left;
    width: 48%;
    height: 40px;
    line-height: 40px;
    text-align: right;
    font-size: 14px;
    color: #666;
}
.tender-price-result li strong {
    float: right;
    width: 52%;
    height: 40px;
    line-height: 40px;
    margin-left: 0;
    font-weight: normal;
    font-size: 12px;
}
.tender-price-result em {
    text-align: center;
    padding: 0 18px 0 12px;
    font-weight: bold;
    font-size: 14px;
}
.tender-form-input {
    width: 212px;
}
.tender-form-input {
    left: 98px;
}
.tender-price-ad {
    margin: 40px 67px 0;
}
.tender-price-ad p {
    width: 310px;
    margin: 0 auto;
    color: #999;
    font-size: 12px;
}

.tender-price-ad span {
    color: #fe5f00;
}
.tender-price-ad a {
    display: block;
    width: 170px;
    height: 20px;
    text-align: center;
    margin-left: 80px;
    margin-top: 22px;
    color: #01af63;
    line-height: 28px;
}
.tender-price-ad em {
    display: inline-block;
    width: 202px;
    height: 36px;
    position: relative;
    bottom: 45px;
    right: 16px;
    top: -32px;
    cursor: pointer;
    background: url(../img/xgt_xqy.png) no-repeat -2px -163px;
    _background: url(../img/xgt_xqy.gif) no-repeat -2px -163px;
}
.tender-form-check a, .zzfw span {
    color: #01af63;
}
.tender-mfsjinit-img {
    padding: 44px 72px 0;
}
.tender-mfsjinit-img em {
    display: block;
    width: 349px;
    height: 322px;
    background: url(../img/xgt_xqy.png) no-repeat -33px -346px;
    _background: url(../img/xgt_xqy.gif) no-repeat -33px -346px;
}
.tender-result-text, .tender-result-explain {
    text-align: center;
}
.tender-pop-mfsj .mflf {
    display: block;
    width: 131px;
    height: 118px;
    margin: 0 auto;
    background: url(../img/xgt_xqy.png) no-repeat -238px -14px;
    _background: url(../img/xgt_xqy.gif) no-repeat -238px -14px;
}
.tender-result-explain {
    margin-top: 50px;
    color: #fe5f00;
}
.tender-form-item.mall em {
    display: block;
    height: 92px;
    width: 357px;
    margin: 0 auto;
    cursor: pointer;
    background: url(../img/xgt_xqy.png) no-repeat -2px -215px;
    _background: url(../img/xgt_xqy.gif) no-repeat -2px -215px;
}
.tender-result-mfsj .tender-form-item {
    height: auto;
}
.tender-title-count {
    color: #fe5f00;
    margin: 0 15px;
}
.tender-pop-title.littlefont .tender-title-text {
    font-size: 14px;
    color: #333;
    font-weight: normal;
}
.tender-mfsj-btn {
    position: relative;
    display: block;
    margin: 30px auto 20px;
    width: 120px;
    height: 40px;
    color: #fff;
}
.tender-mfsj-btn em {
    display: block;
    width: 110px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    background: url(../img/xgt_xqy.png) no-repeat -412px -347px;
    _background: url(../img/xgt_xqy.gif) no-repeat -412px -347px;
}
.tender-mfsj-btn.no-allow em {
    background-position: -412px -407px;
    cursor: not-allowed;
}
.tender-pop-right .littlefont {
    padding-top: 50px;
    font-size: 22px;
    font-weight: bold;
}
.tender-pop-right .lefont {
    padding-top: 50px;
    font-size: 24px;
}
.tender-pop-mfbj .new-init-yusuan {
    padding-top: 25px;
    padding-bottom: 30px;
}
.tender-pop-mfbj .new-init-yusuan li {
    height: 26px;
}
.tender-pop-left {
    float: left;
    width: 490px;
    border-right: 1px solid #ddd;
    height: 456px;
    +height: 460px;
}
.tender-pop-right {
    float: right;
    width: 470px;
    height: 456px;
    +height: 460px;
}
.to8to_zj {
    margin-left: 10px;
    color: #bbb;
    font-size: 14px;
}
.dn {
    display: none;
}
.tender-calc-btn {
    background:#fefefe url(../img/active_btn.png) no-repeat 3px -150px;
    _background:#fefefe url(../img/active_btn.gif) no-repeat 3px -150px;
}
.tender-calc-btn.no-allow {
    cursor: not-allowed;
}
.tender-calc-btn:hover {
    background-position-x:-153px;
}
.tender-calc-btn:active {
    background-position-x:-310px;
}
.tender-calc-btn.again{
    background:#fefefe url(../img/active_btn.png) no-repeat 3px -3px;
    _background:#fefefe url(../img/active_btn.gif) no-repeat 3px -3px}
.tender-calc-btn.again:hover {
    background-position-x:-153px;
}
.tender-calc-btn.again:active {
    background-position-x:-310px
}
.tender-recalc {
    position: absolute;
    top: 44px;
    left: 50px;
    font-size: 16px;
    width: 39px;
    color: #fff;
    cursor: pointer;
}
.no-allow .tender-recalc {
    cursor: not-allowed;
}
.tender-calc-btn, .tender-calc-btn.again {
    position: absolute;
    top: 162px;
    left: 460px;
    display: block;
    width: 134px;
    height: 138px;
}
/* 免费设计 */
.tender-init-mfsj .tender-form-list {
    width: 360px;
    margin: 30px auto 0;
}
.tender-init-mfsj .tender-form-footer {
    margin: 0 85px 13px;
}
.tender-init-mfsj .tender-form-explain {
    text-align: center;
}
.tender-init-mfsj .tender-form-item, .tender-pop-company .tender-form-item {
    margin-bottom: 20px;
}
.tender-init-mfsj .tender-form-select.province {
    width: 123px;
}
.tender-init-mfsj .tender-form-input {
    width: 236px;
}
/* 装修公司 */
.tender-pop-company .tender-price-result li span {
    width: 55%;
}
.tender-pop-company .tender-price-result li strong {
    width: 45%;
}
.tender-company-result {
    width: 340px;
    margin-left: 40px;
    margin-bottom: 10px;
    display: none;
}
.tender-company-result-list {
    height: 70px;
    padding: 9px 0 9px 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
}
.tender-company-result-list dt {
    float: left;
    width: 70px;
    height: 70px;
}
.tender-company-result-list dd {
    float: left;
    width: 258px;
    height: 70px;
}
.tender-company-result-list dt a {
    display: block;
    width: 68px;
    height: 68px;
    border: 1px solid #ddd;
}
.tender-company-result-list dt img {
    display: block;
    width: 100%;
    height: 100%;
}
.tender-company-name {
    float: left;
    width: 127px;
    padding: 0 10px;
}
.tender-company-name h4 {
    width: 127px;
    height: 28px;
    margin-bottom: 5px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}
.tender-company-name h4 a {
    font-size: 14px;
    color: #333;
}
.tender-company-name p {
    height: 20px;
    line-height: 20px;
    color: #999;
    font-size: 12px;
}
.tender-company-name p span, .tender-company-detail p span {
    color: #f36f20;
}
.tender-company-detail {
    float: left;
    width: 98px;
    padding-left: 10px;
    border-left: 1px solid #ddd;
    font-size: 12px;
}
.tender-company-detail p {
    height: 22px;
    line-height: 22px;
    color: #666;
}
.tender-pop-company .tender-form-explain {
    text-align: center;
}
/* 装修材料 */
.tender-material-result {
    overflow: hidden;
    width: 348px;
    height: 248px;
    margin: 20px auto 0;
    border: 1px solid #eee;
}
.tender-material-table {
    width: 351px;
    height: 251px;
}
.tender-material-table li {
    float: left;
    width: 154px;
    height: 41px;
    padding-left: 20px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    line-height: 41px;
    font-size: 12px;
    color: #999;
}
.tender-material-table li span {
    float: left;
    width: 72px;
    color: #666;
}
.tender-material-table li strong {
    float: left;
    padding-right: 5px;
    color: #333;
    font-family: 'Arial';
    font-size: 14px;
    text-align: center;
}
.tender-pop-material .tender-price-ad {
    margin: 20px auto 0;
}
.tender-pop-material .tender-price-ad p {
    width: 350px;
}
/* 楼盘下拉框 */
.tender-loupan-box {
    width: 230px;
    border:1px solid #eee;
    position: absolute;
    margin-top: -1px;
    height: 100px;
    overflow-y: auto;
    overflow-x:hidden;
    display: none;
    background-color: #FFF;
    top: 38px;
    left: 86px;
    z-index: 10;
}
.tender-loupan-box li{
    padding:0 10px;
    height: 34px;
    line-height: 34px;
    width: 288px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    cursor: pointer;
}
.tender-loupan-box ul li:hover{
    background-color: #F8F8F8;
    color: #333;
}
/*适配效果图报价页*/
.tender-pop-showImg{
    width: 240px;
    height: 145px;
    margin: 7px auto;
    text-align: center;
    border:5px solid #fff;
}
.tender-pop-showImg img{
    display: inline;
    max-width: 240px;
    max-height: 145px;
}
.tender-price-newResult{
    margin:0 auto;
    height: 51px;
    width: 298px;
    background-color: #FFF9F6;
    border: 1px solid #FFE4DA;
    text-align: center;
    padding:12px 3px;
}
.tender-price-newResult li{
    display:inline-block;
    width:114px;
    margin:-7px 0px -8px;
    text-align: left;
    float:left;
}
.tender-price-imgad{
    margin-top:24px;
}
.tender-price-newResult li strong{
    line-height: 40px;
    font-weight:normal;
}
.tender-price-newResult .to8to_zj{
    font-size:12px;
}

/* 弹框视频 */

.tender-video {
    display: none;
}
.tender-video-title {
    padding-top: 45px;
    font-size: 22px;
    text-align: center;
    line-height: 36px;
    padding-right: 27px;
}
.tender-video-wrapper {
    width: 360px;
    height: 200px;
    margin-left: 45px;
    margin-top: 21px;
    margin-bottom: 33px;
    position: relative;
}
.tender-video-tip {
    line-height: 27px;
    font-size: 14px;
    padding-right: 27px;
    text-align: center;
}
.tender-video-num {
    color: #ff6000;
}
.video-first-text {
    display: block;

}
.tender-video-wrapper-hand {
    display: none;
    position: absolute;
    right: -8px;
    bottom: -8px;
}
.tender-video-wrapper-btn {
    position: absolute;
    right: 8px;
    bottom: 8px;
    display: block;
    width: 35px;
    height: 35px;
}

/*新版效果图详情页*/
.newbj-select-province{
    width:155px;
    height:38px;
    font-size:14px;
    border:1px solid #e3e3e3;
}
.newbj-province-margin{
    margin-right:10px;
}
.newbj-square,
.newbj-phone{
    width:300px;
    height:21px;
}
.newbj-tips-font{
    left:11px;
}
.newbj-form-sup{
    right:6px;
}
.newbj-tender-huxing select{
    width:60px;
    height:38px;
    font-size:14px;
    border:1px solid #e3e3e3;
}
.newbj-right-margin{
    margin-right:5px;
}
.newbj-calcBn{
    width: 120px;
    height: 36px;
    margin: 0 auto;
    background-color: #F36F20;
    font-size:14px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    cursor:pointer;
    margin-top: -6px;
}
.newbj-result-server{
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.newbj-result-design{
    margin-top: 6px;
    text-align: center;
    font-size: 14px;
    color:red;
    font-weight:bold;
}
.newbj-result-jpg{
    display: block;
    width: 299px;
    height: 115px;
    margin: 0 auto;
    margin-top: 17px;
}
.newbj-form-item .form_error{
    left:0px;
}
.result-title{
    margin-top: 35px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: black;
}
.slide-container{
    position: relative;
    width: 320px;
    margin: 0 auto;
    margin-top: 24px;
}
.result-bottom{
    height: 25px;
    font-size: 14px;
    color: #333;
    text-align: center;
    margin:10px 0px -10px;
}
.lastPic,
.nextPic{
    width: 24px;
    height: 30px;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    top: 56%;
    margin-top: -25px;
    z-index: 2;
}
.lastPic:hover,
.nextPic:hover{
    opacity:0.75;
}
.lastPic{
    left:0px;
}
.nextPic{
    right:0px;
}
.lastPic span,
.nextPic span{
    display: block;
    width: 11px;
    height: 20px;
    margin: 5px auto;
    line-height: 99em;
    overflow: hidden;
    font-size: 0;
    background: url(../img/banner.png) no-repeat;
}
.lastPic span{
    background-position:0px 0px;
}
.nextPic span{
    background-position:-12px 0px;
}
.slider-newBJ{
    position: relative;
    bottom: 19px;
    z-index: 2;
    width: 56px;
    margin: 0 auto;
}
.slider-newBJ li{
    width: 10px;
    height: 10px;
    float: left;
    margin: 0 2px;
}
.slider-newBJ li a{
    display: block;
    width: 10px;
    height: 10px;
    background-position: 0 -21px;
    overflow: hidden;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background: url(../img/banner.png) no-repeat;
    background-position: 0px -21px;
}
.slider-newBJ li a.slider-On{
    background-position: -17px -21px;
    opacity: 1;
}
/*.tender-price-ad .region-phone{
    color:red;
    font-weight: bold;
}*/
.tender-price-ad .newBJ-result-text{
    width: 390px;
    color: #ff6001;
    font-size: 12px;
}
.Result-newBJ-right{
    width:320px;
    height:240px;
}
.Result-newBJ-right img{
    width:320px;
    height:240px;
}
.tender-price-ad .newBJ-result-warn{
    margin:0;
}

/*--------------------------------------------------------------------*/
@charset "utf-8";

/* base common style */
html,body{padding:0; margin:0;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0 }
body, button, input, select, textarea { font: 12px/1.5 "Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu; color:#666 }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
address, cite, dfn, em, var { font-style: normal }
ul, ol, dl { list-style: none }
a { text-decoration: none !important; outline: none ;font-family:"Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;cursor: pointer;}
img { border: 0 }
button, input, select, textarea { font-size: 100% ;font-family:"Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;outline: none;}
table { border-collapse: collapse; border-spacing: 0 }
.clear{*zoom:1;}
.clear:after{display:block;clear:both;content:"\0020";visibility:hidden;height:0;}
.cl:before{content: ''; display: table;}
.cl:after{content: ''; display: table; clear: both}
.global_wrap{position: relative;min-height:100%; clear: both; content: ""; }
.ielt7 .global_wrap{height:100%; }

.col_l{float: left;*display: inline;}
.col_r{float: right;*display: inline;}
.ect{text-overflow:ellipsis; overflow: hidden; white-space: nowrap;}
/* common bg */

