/* CSS Base */
*{margin: 0;padding: 0;}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.2 microsoft yahei,arial,Tahoma,SimSun,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
address,cite,dfn,em,i,var{font-style:normal}
ol,ul{list-style:none}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
button,input{border:medium none}
input{background:none;outline:none;border:none}
table{border-collapse:collapse;border-spacing:0}
body{background-color:#fff;color:#000}
a,a:link,a:visited,a:hover,a:active{outline: none;text-decoration: none;color: #333;-webkit-tap-highlight-color:transparent;}
.f_6{font-size:0.6rem;}
.f_8{font-size:0.8rem;}
.f1{font-size: 1rem;}
.f12{font-size: 1.2rem;}
.fl{float: left;}
.fr{float: right;}
.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}
.hidden{visibility:hidden}
.none{display:none}
.block{display:block}
.oh{overflow:hidden}
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m25{margin:25px}
.m30{margin:30px}
.m50{margin:50px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt50{margin-top:50px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr30{margin-right:30px}
.mr50{margin-right:50px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb50{margin-bottom:50px}
.mb80{margin-bottom:80px}
.mb100{margin-bottom:100px;}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.p25{padding:25px}
.p30{padding:30px}
.p50{padding:50px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt25{padding-top:25px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}
.pr50{padding-right:50px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb25{padding-bottom:25px}
.pb30{padding-bottom:30px}
.pb50{padding-bottom:50px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl30{padding-left:30px}
.pl50{padding-left:50px}
.hd5{background-color:#eef3fa;height:5px; }
.bg_white{background-color: #fff;}
.bg_gray{background-color: #f1f4f9;}
.c_red{color: #f76b4b;}
.c_orange{color: #f76b4b;}
.c_blue{color: #4bb6f7;}
.c_white{color: #fff;}
.c_gray{color: #999;}
.c_deep-gray{color: #333;}
.c_light-gray{color: #d2d2d2;}
.btn_red{background-color: #f76b4b;color:#fff!important;}
.btn_blue{background-color: #4bb6f7;color:#fff !important;}
.light-btn{padding: 2px 4px;border-radius: 2px;}
::-webkit-input-placeholder {color: #fff;text-align: center;}
:-moz-placeholder {color: #fff;text-align: center;}
::-moz-placeholder {color: #fff;text-align: center;}
:-ms-input-placeholder {color: #fff;text-align: center;}
.dis-flex{display: -webkit-flex; display: -ms-flexbox;display: flex;}
.dis-box{display:-moz-box; display:-webkit-box;display: box; }
.flex_box_1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.flex_box_2{-webkit-box-flex:2;-moz-box-flex:2;box-flex:2;}
.flex_box_3{-webkit-box-flex:3;-moz-box-flex:3;box-flex:3;}
.flex_box_4{-webkit-box-flex:4;-moz-box-flex:4;box-flex:4;}
.flex_box_8{-webkit-box-flex:8;-moz-box-flex:8;box-flex:8;}
.text_ellipsis {  display: inline-block;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
.pf_bottom{position: fixed;bottom: 0;left: 0;z-index: 100;}
.pop{position:fixed; left:0; top:0; width:100%; height:100%;background-color: #000;opacity: 0.5;}
.push_msk {  width: 100%;  height: 9999px;  position: fixed;  visibility: hidden;  top: 0;  left: 0;}

/* icon */
.icon{display:block;background-image: url("../images/icon.png");background-repeat: no-repeat;}
.icon_more{width:30px;height:30px;background-position:-23px 0px;}
.icon_prev{width:30px;height:30px;background-position:-52px 0px;}
.icon_other{width:30px;height:30px;background-position:-90px 0px;}
.icon_arrow_r{width:15px;height:18px;background-position:-130px 0px;}
.icon_close{width:22px;height:22px;background-position:-158px 0px;}
.icon_cart{width:26px;height:26px;background-position:-194px 0px;}
.icon_shop{width:26px;height:26px;background-position:-233px 0px;}
.icon_collect{width:26px;height:26px;background-position:-272px 0px;}
.icon_classify{width:26px;height:26px;background-position:0px -35px;}
.icon_cartNum{width:26px;height:26px;background-position:-31px -35px;}
.icon_back{width:26px;height:26px;background-position:-61px -32px;}
.icon_company{width:24px;height:22px;background-position:-125px -36px;}
