/* ----------header----------- */
.header{height:45px;background-color: #31a2e6;color: #fff;}
.header .search-top{position: relative;}
.header .search-top input{background-color: #278cc9;color:#fff;border-radius: 3px;width: 98%;height: 30px;margin-top: 8px;}
.header .search-top span{position: absolute;top: 2px;margin-left: -20%;left: 20%;}
.header .icon{ margin: 7px auto 0;}
.header .logo_title{font-size:1.2rem;line-height:45px;text-align: center;}
.header .text{font-size:1.0rem;line-height: 45px;text-align: center;}
.header .placeholder{display: block;width: 26px;}

/* ----------nav----------- */
.footer{width:100%;box-shadow: 0 0 8px #999;background-color: #fff;}
.footer li{float: left;width:20%;text-align:center;padding:0px 0px 6px;font-size:14px;color:#666;}
.footer li a{color:#666;}
.footer li.cur,.footer li.cur a{color:#4bb6f7;}
.f_icon{width:35px;height:35px;display:block;margin:auto;background-image: url("../images/footer-icon.png");background-repeat: no-repeat;background-size:625% 160%;}
.home .f_icon{background-position: -2px 6px;}
.home.cur .f_icon{background-position: -2px -25px;}
.designer .f_icon{background-position: -45px 6px;}
.designer.cur .f_icon{background-position: -45px -25px;}
.mall .f_icon{background-position: -88px 6px;}
.mall.cur .f_icon{background-position: -88px -25px;}
.decorationcompany .f_icon{background-position:-137px 6px;}
.decorationcompany.cur .f_icon{background-position: -137px -25px;}
.my .f_icon{background-position: -180px 6px;}
.my.cur .f_icon{background-position: -180px -25px;}

.cart_commit{width: 100%;box-shadow: 0 0 8px #999;background-color: #fff;}
.cart_commit li{padding:8px 0;}
.cart_commit li.br{border-right: 1px #ccc solid;}
.cart_commit li .icon{margin: 0 auto;}
.cart_commit li .check_option{font-size: 1.0rem;}
.cart_commit li .check_option label{padding-right: 10px;line-height:2.2rem;}
.cart_commit li .total_price{line-height:1.2rem;padding-right: 10px;}
.cart_commit li .total_price p{ font-size:18px;}
.cart_commit li.btn_red,.cart_commit li.btn_blue{line-height:2.4rem;font-size:1.0rem;}
.cart_commit li.btn_red a{ color:#fff;}
/* ----------section----------- */
.focus{ width:100%; height:150px; margin:0 auto; position:relative; overflow:hidden; }
.focus .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:5px; text-align:center;}
.focus .hd ul{ display:inline-block; height:5px; padding:3px 5px; font-size:0; vertical-align:top;}
.focus .hd ul li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#fff; margin:0 5px; vertical-align:top; overflow:hidden; }
.focus .hd ul .on{ background:#4bb6f7;}
.focus .bd{ position:relative; z-index:0; }
.focus .bd li img{ width:100%;  height:150px; background:url(../images/loading.gif) center center no-repeat;  }
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }

.s_tit{height:40px;line-height:40px;text-align:center;font-size:20px;background:#eef3fa url("../images/tit-bg.png") center no-repeat;background-size: 50% 100%;}
.plan_box,.communion_box,.special_box{padding:10px 12px;overflow:hidden;}
.plan_box ul{width: 100%;}
.plan_box li{float: left; width:38%;margin-right:2%;height:90px;overflow: hidden;}
.plan_box li a{position: relative;}
.plan_box li img{width: 100%;height: 100%;}
.plan_box li span{position: absolute; bottom: 0; left: 0; width:100%; filter: Alpha(Opacity=50); background-color: rgba(0, 0, 0, 0.5); color: #fff; padding: 8px 0px;text-indent: 6px;}
.plan_box li.more_plan{width:20%;margin-right:0px;background-color: #4bb6f7;text-align: center;}
.plan_box li.more_plan a{color: #fff;}
.plan_box li.more_plan .icon_more{margin: 20px auto 0;}
.communion_box li{float: left;text-align:center;width:22%;min-height:70px;max-height:100px;}
.communion_box li:nth-of-type(1){background-color: #a8dcfc;margin-right:4%;}
.communion_box li:nth-of-type(2){background-color: #fdeea7;margin-right:4%;}
.communion_box li:nth-of-type(3){background-color: #fdcea9;margin-right:4%;}
.communion_box li:nth-of-type(4){background-color: #aaf1d2;}
.communion_box li a{color: #333;}
.c_icon{width:40px;height:40px;display:block;margin:5px auto;background-image: url("../images/communion-icon.png");background-repeat: no-repeat;background-size:420% 100%;}
.c_icon01{background-color: #a8dcfc;margin-right:4%;}
.c_icon01 .c_icon{background-position:0 4px;}
.c_icon02{background-color: #fdeea7;margin-right:4%;}
.c_icon02 .c_icon{background-position:-48px 4px;}
.c_icon03{background-color: #fdcea9;margin-right:4%;}
.c_icon03 .c_icon{background-position:-88px 4px;}
.c_icon04{background-color: #aaf1d2;}
.c_icon04 .c_icon{background-position:-125px 4px;}
.special_box img{width: 100%;height: 120px;margin-bottom: 10px;}

.details_yzdp{color:#333;display:inline-block}
.details_yzdp i{ background: url("../images/global.png") no-repeat scroll 0 0 transparent; }
.details_yzdp i{width:12px;height:12px;margin-top:1px;margin-right:3px;display:inline-block}
.details_yzdp i,.details_yzdp span{float:left;color:#fff;}
.details_yzdp i.ystar_1,.ystar_1{background-position:0px 0}
.details_yzdp i.ystar_2,.ystar_2{background-position:-13px 0}
.details_yzdp i.ystar_3,.ystar_3{background-position:-26px 0}

/* pro */
.nav_tab{border-bottom: 1px #e2ebfa solid;overflow: hidden;}
.nav_tab li{font-size: 1rem;text-align:center;line-height: 45px;}
.nav_tab li.cur{color:#31a2e6;border-bottom: 3px #31a2e6 solid;}
.nav_tab .tab_cen{text-align: center;line-height: 45px;font-size: 16px;}
.nav_tab .icon{margin: 8px auto 0;}

/* pro */
.pro_focus{}
.pro_focus img{width: 100%;}
.pro_tc h1{font-size: 16px;line-height: 22px;}
.pro_tc h2{color: #999;line-height: 24px;}
.pro_tc h3 span{color: #f76b4b;font-size: 18px;}
.pro_tc h3 del{color: #ccc;font-size: 14px;padding-left:5px;}
.pro_option span{padding-right:8px;}

.cart{width: 100%;background-color: #fff;}
.cart_close{position: absolute;right: 10px;top:10px;}
.cart .cart_bot{background-color: #4bb6f7;color:#fff;text-align: center;font-size:1.0rem;padding: 10px 0;width: 100%;z-index: 999;}
.cart_box .cart_top{border-bottom: 1px #e5e5e5 solid;padding: 10px 50px 10px 10px;}
.cart_box .cart_top h3{font-size: 14px;padding-bottom: 2px;}
.cart_box .cart_top .price{font-size: 16px;padding-top: 5px;}
.cart_box .cart_attribute{padding: 10px;}
.cart_box .cart_attribute li{margin-bottom: 20px;}
.cart_box .cart_attribute li .tt{margin-bottom: 10px;margin-right: 5px;}
.cart_box .cart_attribute span{border: 1px #ccc solid; color: #666;padding: 2px 10px;margin-right: 5px;}
.cart_box .cart_attribute span.cur{color: #f76b4b;border-color: #f76b4b;}

.pro_comment{}
.rated_option{border-bottom: 1px #f3f3f3 solid;}
.rated_option li{text-align: center;padding:6px 0;}
.rated_option li.cur{color: #f76b4b;}
.rated_list{margin: 10px;}
.rated_list li{border-bottom: 1px #f3f3f3 solid;padding: 10px 0;}
.rated_ct,.rated_con,.rated_img{padding: 0 0 6px;}
.rated_con{line-height:18px; color: #666;}

.pro_details{}
.details_option li{text-align: center;padding:6px 0; font-size: 1.0rem;border: 1px #f3f3f3 solid;border-left:0px;}
.details_option li.on{color: #4bb6f7;}
.details_option li:last-child{border-right:0px;}
.details_box{margin: 10px;}

/* cart_list */
.cart_list .cart_goods-box li,.cart_list .cart_shop-name{padding: 10px;}
.cart_list .cart_shop-name input{margin-right: 5px;}
.cart_list .cart_goods-box li{border-top: 1px #ccc dashed;overflow: hidden;}
.cart_list .cart_goods-box li dt{width:35%;float: left;}
.cart_list .cart_goods-box li dd{width:65%;float: left;}

/* member */
.user_top{padding:18px 0;vertical-align: middle;text-align: center;background: url("../images/user_top_bg.jpg") center no-repeat;}
.user_top img{border-radius: 50%;border: 2px #fff solid;}
.user_top .user_name{margin-top: 10px;font-size:1.0rem;color: #fff;}
.user_top .user_name a{color: #fff;}
.user_top .user_name span{border: 1px #fff solid;padding:0px 3px;border-radius: 2px;margin-left: 10px;}
.user_menu li{padding:15px 10px;border-bottom: 1px #e5e5e5 solid;background-color: #fff;font-size: 1.0rem;}

.gw_num{border: 1px solid #dbdbdb;width:98px;line-height: 23px;overflow: hidden;}
.gw_num em{height: 24px;width: 24px;display: block;float: left;color:#000;border-right: 1px solid #dbdbdb;background-color:#ededed;text-align: center;cursor: pointer;font-weight: bold;}
.gw_num .num{display: block;float: left;text-align: center;width: 48px;font-style: normal;font-size: 14px;line-height: 24px;border: 0;background-color:#fff;}
.gw_num em.add{float: left;border-right: 0;border-left: 1px solid #dbdbdb;}
.gw_num .disabled {color: #ccc; cursor: not-allowed;}

/* my_order */
.my_order .tit{border-bottom: 1px #e5e5e5 solid;padding: 10px;font-size: 1.0rem}
.my_order ul{padding: 10px 0px;}
.my_order li{background-color: #eaeff6;margin:5px 10px;padding: 10px;}
.my_order li .text{width: 60%;}
.order_time p{line-height:42px;font-size:0.9rem;border-bottom: 1px #e5e5e5 solid;padding-left: 10px;padding-right: 10px;}
.order_time p:nth-last-child(1){border-bottom:0px;}
.my_order .tit .c_orange{font-size: 0.8rem; line-height:1.4rem}
.my_order .price{ line-height:18px; padding-bottom:0; padding-top:0}
.my_order .price .f14{ font-size:14px;}
/* user-icon */
.u_icon{width:25px;height:25px;display:block;margin-right:5px;background-image: url("../images/user-icon.png");background-repeat: no-repeat;background-size:800% 88%;}
.u_icon01{background-position:0px 0px;}
.u_icon02{background-position:-23px 0px;}
.u_icon03{background-position:-49px 0px;}
.u_icon04{background-position:-75px 0px;}
.u_icon05{background-position:-99px 0px;}
.u_icon06{background-position:-124px 0px;}
.u_icon07{background-position:-151px 0px;}
.u_icon08{background-position:-174px 0px;}